Proyecto WearDrop/WearDropFront/WearDrop/WearDropWA/Connected Services/ServiciosDeDescuentoMonto/DescuentoMontoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://descuentos.services.weardrop.pucp.edu.pe/" targetNamespace="http://descuentos.services.weardrop.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarDescuentoMonto" type="tns:eliminarDescuentoMonto" />
  <xs:element name="eliminarDescuentoMontoResponse" type="tns:eliminarDescuentoMontoResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="insertarDescuento" type="tns:insertarDescuento" />
  <xs:element name="insertarDescuentoResponse" type="tns:insertarDescuentoResponse" />
  <xs:element name="insertar_prendadescuento" type="tns:insertar_prendadescuento" />
  <xs:element name="insertar_prendadescuentoResponse" type="tns:insertar_prendadescuentoResponse" />
  <xs:element name="modificarDescuentoMonto" type="tns:modificarDescuentoMonto" />
  <xs:element name="modificarDescuentoMontoResponse" type="tns:modificarDescuentoMontoResponse" />
  <xs:element name="mostrar_descuentosActivos" type="tns:mostrar_descuentosActivos" />
  <xs:element name="mostrar_descuentosActivosResponse" type="tns:mostrar_descuentosActivosResponse" />
  <xs:element name="mostrar_descuentosmontos" type="tns:mostrar_descuentosmontos" />
  <xs:element name="mostrar_descuentosmontosResponse" type="tns:mostrar_descuentosmontosResponse" />
  <xs:element name="obtenerPorId" type="tns:obtenerPorId" />
  <xs:element name="obtenerPorIdResponse" type="tns:obtenerPorIdResponse" />
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_prendadescuento">
    <xs:sequence>
      <xs:element minOccurs="0" name="datDesc" type="tns:descuentoLiquidacion" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="prendas" type="tns:prenda" />
      <xs:element minOccurs="0" name="vig" type="tns:vigencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuentoLiquidacion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:descuento">
        <xs:sequence>
          <xs:element name="condicionStockMin" type="xs:int" />
          <xs:element name="porcentajeLiquidacion" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="descuento" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="esAutomatico" type="xs:boolean" />
      <xs:element name="idDescuento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="vigencia" type="tns:vigencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vigencia">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idVigencia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prenda" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="alertaMinStock" type="xs:int" />
      <xs:element minOccurs="0" name="color" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="descuentos" nillable="true" type="tns:descuento" />
      <xs:element name="idPrenda" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lotes" nillable="true" type="tns:lote" />
      <xs:element minOccurs="0" name="material" type="tns:material" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioDocena" type="xs:double" />
      <xs:element name="precioMayor" type="xs:double" />
      <xs:element name="precioUnidad" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="promociones" nillable="true" type="tns:promocion" />
      <xs:element name="stockPrenda" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="talla" nillable="true" type="tns:talla" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lote">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="datAlmacen" type="tns:almacen" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacen">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idTienda" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promocion" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="esAutomatico" type="xs:boolean" />
      <xs:element name="idPromocion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="vigencia" type="tns:vigencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_prendadescuentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDescuentoMonto">
    <xs:sequence>
      <xs:element name="idDesc" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDescuentoMontoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorId">
    <xs:sequence>
      <xs:element name="idDesc" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:descuentoLiquidacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDescuento">
    <xs:sequence>
      <xs:element minOccurs="0" name="datDesc" type="tns:descuentoLiquidacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDescuentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDescuentoMonto">
    <xs:sequence>
      <xs:element minOccurs="0" name="datDesc" type="tns:descuentoMonto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuentoMonto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:descuento">
        <xs:sequence>
          <xs:element name="montoEditable" type="xs:double" />
          <xs:element name="montoMaximo" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="modificarDescuentoMontoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrar_descuentosmontos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mostrar_descuentosmontosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:descuentoMonto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrar_descuentosActivos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mostrar_descuentosActivosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:descuentoLiquidacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="material">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Algodon" />
      <xs:enumeration value="Poliester" />
      <xs:enumeration value="algodon_poliester" />
      <xs:enumeration value="Lino" />
      <xs:enumeration value="Rayon" />
      <xs:enumeration value="Lana" />
      <xs:enumeration value="Acrilico" />
      <xs:enumeration value="Nylon" />
      <xs:enumeration value="lycra" />
      <xs:enumeration value="Denim" />
      <xs:enumeration value="Drill" />
      <xs:enumeration value="Gabardina" />
      <xs:enumeration value="Polar" />
      <xs:enumeration value="Franela" />
      <xs:enumeration value="Cuero" />
      <xs:enumeration value="Cuerina" />
      <xs:enumeration value="Saten" />
      <xs:enumeration value="Chifon" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="talla">
    <xs:restriction base="xs:string">
      <xs:enumeration value="XS" />
      <xs:enumeration value="S" />
      <xs:enumeration value="M" />
      <xs:enumeration value="L" />
      <xs:enumeration value="XL" />
      <xs:enumeration value="XXL" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>