Proyecto WearDrop/WearDropFront/WearDrop/WearDropWA/Connected Services/CuentaUsuarioWS/CuentaUsuarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://personal.services.weardrop.pucp.edu.pe/" targetNamespace="http://personal.services.weardrop.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarCuentaUsuario" type="tns:eliminarCuentaUsuario" />
  <xs:element name="eliminarCuentaUsuarioResponse" type="tns:eliminarCuentaUsuarioResponse" />
  <xs:element name="insertarCuentaUsuario" type="tns:insertarCuentaUsuario" />
  <xs:element name="insertarCuentaUsuarioResponse" type="tns:insertarCuentaUsuarioResponse" />
  <xs:element name="listarCuentasUsuario" type="tns:listarCuentasUsuario" />
  <xs:element name="listarCuentasUsuarioResponse" type="tns:listarCuentasUsuarioResponse" />
  <xs:element name="modificarCuentaUsuario" type="tns:modificarCuentaUsuario" />
  <xs:element name="modificarCuentaUsuarioResponse" type="tns:modificarCuentaUsuarioResponse" />
  <xs:element name="obtenerCuentaUsuarioPorId" type="tns:obtenerCuentaUsuarioPorId" />
  <xs:element name="obtenerCuentaUsuarioPorIdResponse" type="tns:obtenerCuentaUsuarioPorIdResponse" />
  <xs:complexType name="obtenerCuentaUsuarioPorId">
    <xs:sequence>
      <xs:element name="idCuentaUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCuentaUsuarioPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cuentaUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cuentaUsuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="idCuenta" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoCuenta" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoCuenta">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idTipoCuenta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCuentaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="cuentaUsuario" type="tns:cuentaUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCuentaUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCuentaUsuario">
    <xs:sequence>
      <xs:element name="idCuentaUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCuentaUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCuentasUsuario">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCuentasUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cuentaUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCuentaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="cuentaUsuario" type="tns:cuentaUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCuentaUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>