Proyecto WearDrop/WearDropFront/WearDrop/WearDropWA/Connected Services/ServiciosDeDescuentoLiquidacion/DescuentoLiquidacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://descuentos.services.weardrop.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DescuentoLiquidacion" targetNamespace="http://descuentos.services.weardrop.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WearDropWS/DescuentoLiquidacion?xsd=1" namespace="http://descuentos.services.weardrop.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="mostrar_descuentosliquidacion">
    <part name="parameters" element="tns:mostrar_descuentosliquidacion" />
  </message>
  <message name="mostrar_descuentosliquidacionResponse">
    <part name="parameters" element="tns:mostrar_descuentosliquidacionResponse" />
  </message>
  <message name="eliminarDescuentoLiquidacion">
    <part name="parameters" element="tns:eliminarDescuentoLiquidacion" />
  </message>
  <message name="eliminarDescuentoLiquidacionResponse">
    <part name="parameters" element="tns:eliminarDescuentoLiquidacionResponse" />
  </message>
  <message name="modificarDecuentoLiquidacion">
    <part name="parameters" element="tns:modificarDecuentoLiquidacion" />
  </message>
  <message name="modificarDecuentoLiquidacionResponse">
    <part name="parameters" element="tns:modificarDecuentoLiquidacionResponse" />
  </message>
  <message name="obtenerPorId">
    <part name="parameters" element="tns:obtenerPorId" />
  </message>
  <message name="obtenerPorIdResponse">
    <part name="parameters" element="tns:obtenerPorIdResponse" />
  </message>
  <message name="mostrar_descuentosActivos">
    <part name="parameters" element="tns:mostrar_descuentosActivos" />
  </message>
  <message name="mostrar_descuentosActivosResponse">
    <part name="parameters" element="tns:mostrar_descuentosActivosResponse" />
  </message>
  <message name="insertarDescuento">
    <part name="parameters" element="tns:insertarDescuento" />
  </message>
  <message name="insertarDescuentoResponse">
    <part name="parameters" element="tns:insertarDescuentoResponse" />
  </message>
  <message name="insertar_prendadescuento">
    <part name="parameters" element="tns:insertar_prendadescuento" />
  </message>
  <message name="insertar_prendadescuentoResponse">
    <part name="parameters" element="tns:insertar_prendadescuentoResponse" />
  </message>
  <portType name="DescuentoLiquidacionWS">
    <operation name="hello">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/helloRequest" message="tns:hello" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="mostrar_descuentosliquidacion">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/mostrar_descuentosliquidacionRequest" message="tns:mostrar_descuentosliquidacion" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/mostrar_descuentosliquidacionResponse" message="tns:mostrar_descuentosliquidacionResponse" />
    </operation>
    <operation name="eliminarDescuentoLiquidacion">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/eliminarDescuentoLiquidacionRequest" message="tns:eliminarDescuentoLiquidacion" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/eliminarDescuentoLiquidacionResponse" message="tns:eliminarDescuentoLiquidacionResponse" />
    </operation>
    <operation name="modificarDecuentoLiquidacion">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/modificarDecuentoLiquidacionRequest" message="tns:modificarDecuentoLiquidacion" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/modificarDecuentoLiquidacionResponse" message="tns:modificarDecuentoLiquidacionResponse" />
    </operation>
    <operation name="obtenerPorId">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/obtenerPorIdRequest" message="tns:obtenerPorId" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/obtenerPorIdResponse" message="tns:obtenerPorIdResponse" />
    </operation>
    <operation name="mostrar_descuentosActivos">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/mostrar_descuentosActivosRequest" message="tns:mostrar_descuentosActivos" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/mostrar_descuentosActivosResponse" message="tns:mostrar_descuentosActivosResponse" />
    </operation>
    <operation name="insertarDescuento">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/insertarDescuentoRequest" message="tns:insertarDescuento" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/insertarDescuentoResponse" message="tns:insertarDescuentoResponse" />
    </operation>
    <operation name="insertar_prendadescuento">
      <input wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/insertar_prendadescuentoRequest" message="tns:insertar_prendadescuento" />
      <output wsam:Action="http://descuentos.services.weardrop.pucp.edu.pe/DescuentoLiquidacionWS/insertar_prendadescuentoResponse" message="tns:insertar_prendadescuentoResponse" />
    </operation>
  </portType>
  <binding name="DescuentoLiquidacionWSPortBinding" type="tns:DescuentoLiquidacionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrar_descuentosliquidacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarDescuentoLiquidacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarDecuentoLiquidacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrar_descuentosActivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertar_prendadescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DescuentoLiquidacion">
    <port name="DescuentoLiquidacionWSPort" binding="tns:DescuentoLiquidacionWSPortBinding">
      <soap:address location="http://localhost:8080/WearDropWS/DescuentoLiquidacion" />
    </port>
  </service>
</definitions>